* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #466245;
    padding: 10px 20px;
    margin-bottom: 2.5rem;
}

.nav-brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: "Dancing Script", cursive;
}

.nav-links {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.nav-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #20321e;
}

.nav-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        padding: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    #navLinks a{
        color: black;
    } 
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.calendar-container {
    width: 700px;
}

.traverse-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.traverse-buttons button {
    background: none;
    border: none;
    font-size: 1.2rem;
}
#month-display{
    font-size: 20px;
}

.day-display {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    text-align: center;
    gap: 5px;
    margin-bottom: 5px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.day {
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}

.mood-tracker {
    width: 500px;
}

.mood-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

.mood-form input, .mood-form select, .mood-form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #466245;
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* .day.mood-day {
    font-size: 24px;
} */

.notes-container {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.note-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

.note-item p {
    margin: 5px 0;
}

.note-item button {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#delete-mood-btn,
#delete-all-notes-btn,#save-mood {
    margin-top: 10px;
    background-color:#466245;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#delete-mood-btn:hover,
#delete-all-notes-btn:hover,#save-mood:hover {
    background-color: white;
    color:#466245;
    border: 2px solid #20321e;
}

#remove-btn-text{
    color:#20321e;
    padding: 3px;
    border-radius: 2px;
}

#remove-btn-text:hover{
    background-color:#20321e;
    color: white;
}

@media (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .calendar-container {
        width: 350px;
    }

    .day-display {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        text-align: center;
        gap: 5px;
        margin-bottom: 5px;
    }
    
    .day {
        width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
    }

    .mood-tracker {
        width: 400px;
    }
    
    
}
